# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend VUE and VITE

# Depedency and build
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/coverage/

# Logs and cache
/frontend/logs/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.eslintcache
/frontend/*.tsbuildinfo
/frontend/*.local

/frontend/.vite/
/frontend/chunk-*

# Backend ELIXIR, PHOENIX and MIX

# Build and compile
/backend/_build/
/backend/cover/

# Dependency
/backend/deps/
/backend/doc/

# Config
/backend/config/dev.secret.exs
/backend/config/runtime.secret.exs

# Tmp and errors
/backend/tmp/
/backend/erl_crash.dump
/backend/.fetch
/backend/*.ez
/backend/*.tar

# Local
/backend/db.sqlite3


